{% extends 'renweb/html/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {%  block css %}
        <title>新闻详情</title>
        <link href="/static/css/news_out.css" rel="stylesheet" type="text/css"/>
        <link href="/static/css/base.css" rel="stylesheet" type="text/css"/>
    {% endblock %}
</head>
<body>
{% block content %}
    <div class="news_out">
        <div class="title">{{ news.title }}</div>
        <div class="tag">类型：{{ news.tag }}</div>
        <div class="tag">时间：{{ news.date }}-{{ news.time }}</div>
        <div class="content">
            {% autoescape off %}
                {{ news.content }}
            {% endautoescape %}
            浏览次数：{{ news.browse }}
        </div>
        <div class="backchoose">返回</div>
    </div>
{% endblock %}
{% block script %}
    <script src="../../../static/js/jquery-3.3.1.js"></script>
    <script>
        var back=document.getElementsByClassName('backchoose')[0];
        back.onclick=function(){
            window.location.href = '/renweb/news_in/1';
        }
    </script>
{% endblock %}
</body>
</html>