.substrate{
    width:1500px;
    height:740px;
    border:1px solid blue;
}
.substrate .head{
    width:1500px;
    height:70px;
    background-color: aliceblue;
}
.substrate .head .logo{
    width:130px;
    height:70px;
    margin-left: 200px;
    background: url("../images/base/logo.png") no-repeat center;
    background-size: 100%;
}
.content{
    width:1500px;
    height:500px;
}
.content .left{
    width:230px;
    height:500px;
    float: left;
    background-color: #99bc0c;
}
.content .left .user{
    width:230px;
    height:100px;
    background-color: #fa8f16;
}
.content .left .user .name{
    width:230px;
    height:60px;
    font-size: 30px;
    line-height: 60px;
    font-family: 微软雅黑;
    text-align: center;
    color: #0d0b82;
}
.content .left .user .name_choose{
    width:230px;
    height:38px;
    border-top: 2px solid black;
}
.content .left .user .name_choose a{
    font-size: 18px;
    line-height: 38px;
    font-family: 微软雅黑;
    color: #eaede9;
    list-style-type: none;
    text-decoration: none;
}
.content .left .choose{
    width:230px;
    height: 400px;
    background-color: #faf520;
}
.content .left .choose .ch_oose{
    width:228px;
    height:48px;
    border:1px solid black;
    font-family: "Adobe 宋体 Std L";
    font-size: 28px;
    line-height: 48px;
    text-align: center;
    color: white;
    background-color: saddlebrown;
}
.content .left .choose .ch_oose:hover{
    cursor: pointer;
}
/*中心内容设计*/
.content .middle{
    width:800px;
    height:500px;
    background-color: #d1dcd4;
    float: left;
}
.rentcar_base{
    width:800px;
    height:300px;
    margin-top:50px;
    background-color:white;
    background: url("../../static/images/base/carbackground.jpg") no-repeat;
    background-size: 100%;
}
.rentcar_base .tab{
    margin-left: 70px;
    text-align: center;
}
.rentcar_base .tab td{
    border: 1px solid black;
}
.rentcar_base .tab .tab_a{
    list-style-type: none;
    text-decoration: none;
    color:black;
}